* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #24292f;
  /* color: #fff; */
}

.wrapper {
  font-size: 14px;
}


header {
  display: flex;
  justify-content: end;
  /* line-height: 1.5px; */
  width: 100vw;
  background-color: #24292f;
  padding: 20px;
  border-bottom: 1px solid #999;
}

.user {
  /* border: 1px solid red; */
  cursor: pointer;
}

.avatar {
  display: flex;
  align-items: center;
}

.avatar img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.menu-item>p>strong {
  cursor: pointer;
}

.dropdown-caret {
  content: "";
  border-bottom: 5px solid transparent;
  border-top: 5px solid  #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.dropdown-caret.on {
  content: "";
  border-bottom: 5px solid #fff;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.menu {
  position: absolute;
  top: 62px;
  right: 20px;
  display: none;
  width: 200px;
  background-color: #fff;
  border-radius: 5px;
  border:1px solid #d0d7de;
  transition: transform 200ms ease-in-out;
}

.menu.on {
  display: block;
}

.menu::before {
  content: "";
  position: absolute;
  top: -18px;
  right: 5px;
  border-bottom: 10px solid #fff;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  z-index: 2;
}

.dropdown-divide {
  height: 0;
  border-top: 1px solid #d0d7de;
  margin: 8px 0;
}

.menu-item {
  padding: 8px 16px 4px 16px;
}

.user-status {
  padding: 0px 16px;
}

.dropdown-item {
  padding: 4px 16px;
}

button {
  width: 100%;
  border: none;
  padding: 4px 16px 4px 16px;
  margin-bottom: 4px;
  background-color: transparent;
  cursor: pointer;
  text-align: left;
}

.menu-item>p>strong:hover {
  opacity: .5;
}

.menu:hover {
  transform: translateY(2px);
}

.dropdown-item:hover,
button:hover {
  background-color: #0969da;
  cursor: pointer;
}

.dropdown-item:hover a {
  color: #fff;
}

